/**
 * VARIABLES
 *******************************************/

/**
 * FONTS
 *******************************************/

$primaryFont: "Trebuchet MS", Helvetica, Arial, sans-serif;
$secondaryFont: Georgia, 'Times New Roman', serif;;

// Weights
$reg: 400;
$bold: 700;


/**
 * COLOUR VARIABLES
 *******************************************/

$black:				#000;
$white:				#fff;

$accent-1:			#99b898; // green
$accent-2:          #feceab; // yellow
$accent-3:          #ff847c; // orange
$accent-4:          #e84a5f; // red
$accent-5:          #2a363b; // dark grey